@model GroupModel
@*

*@
@{
    var host = "http://localhost:57348/";
    var currUrl = Context.Request.Path + Context.Request.QueryString;
}
<section id="details d-block">
@functions {
    public static string toFixed(decimal number, uint decimals)
    {
        return number.ToString("N" + decimals);
    }
}
<div class="header mx-4 my-7 d-block">
    <div class="col-md-12">
        <div class="pull-left">
            <h2>Podgląd Grupy</h2>
        </div>
        <div class="pull-right d-flex items-center gap-x-2">
            <a href="/groups/edit/@Model.id" class="btn btn-flat success"><i class="icon-edit"></i> Edytuj</a>
            <form method="post" class="btn btn-flat danger" asp-action="delete" asp-controller="group">
                <input hidden type="text" name="id" value="@Model.id" />
                <button type="submit"><i class="icon-trash"></i> Usuń</button>
            </form>
            <button class="btn btn-flat white"><i class="icon-wrench"></i> Konfiguracja</button>
        </div>
    </div>
</div>

<div class="mx-4 py-10">
    <table class="table table-condensed">
        <tbody>
            <tr>
                <td class="first-col">
                    ID
                </td>
                <td>
                    @Model.id
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td class="first-col">
                    Nazwa
                </td>
                <td>
                    @Model.name
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td class="first-col">
                    Model rozliczenia
                </td>
                <td>
                    <div>@Model?.details?.Billing.GetStringValue()</div>
                </td>
                <td>
                </td>
            </tr>
                <tr>
                <td class="first-col">
                    Urządzenia
                </td>
                <td>
                    <div>@String.Join(",",Model?.details.Devices.Select(i => i.GetStringValue()).ToArray())</div>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td class="first-col">
                    Status
                </td>
                <td>
                    <span class="label label-success">@(Model.status ? "Włączona" : "Wyłączona")</span>
                </td>
                <td>
                    <div class="btn-group pull-right">
                        <form asp-action="switch" asp-controller="group" method="post">
                            <input hidden value="@Model.id" name="id" />
                            <input hidden value="@Model.status" name="status" />
                            <button type="submit" class="btn-flat @( Model.status ? "success" : "danger" )"><i class="icon-off mr-1"></i>@(Model.status ? "Włącz" : "Wyłącz")</button>
                        </form>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="first-col">
                    Wydzielony budżet
                </td>
                <td>
                    <i>brak</i>
                </td>
                <td>
                    <div class="btn-group pull-right">
                        <button class="btn btn-flat white"><span class="hidden-sm"><i class="icon-edit mr-1"></i>Ustaw</span></button>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="first-col">
                    Całkowity budżet
                </td>
                @if (Model.budget?.totalBudget > 0)
                {
                    <td>
                        @($"całkowity: {toFixed(Model.budget.totalBudget, 2)} PLN")
                        <br>
                        @($"zużyto: {toFixed((Model.budget.totalBudgetLeft - Model.budget.totalBudgetLeft), 2)} PLN")
                        <br>
                        @($"pozostało: {toFixed(Model.budget.totalBudgetLeft, 2)} PLN")
                    </td>
                }
                else
                {
                    <td>
                        <span>brak</span>
                    </td>
                }
                <td>
                </td>
            </tr>
            <tr>
                <td class="first-col">
                    Dzienny budżet
                </td>
                @if (Model.budget?.dayBudget > 0)
                {
                    <td>
                        @($"całkowity: {toFixed(Model.budget.dayBudget, 2)} PLN")
                        <br>
                        @($"zużyto: {toFixed((Model.budget.dayBudget - Model.budget.dayBudgetLeft), 2)} PLN")
                        <br>
                        @($"pozostało: {toFixed(Model.budget.dayBudgetLeft, 2)} PLN")
                    </td>
                }
                else
                {
                    <td>
                        <span>brak</span>
                    </td>
                }
                <td>
                </td>
            </tr>
            <tr>
                <td class=" first-col">
                    Google Analitics
                </td>
                <td>
                    @($"utm_source = {Model.details.Utm_Source}")
                    <br>
                    @($"utm_medium = {Model.details.Utm_Medium}")
                    <br>
                    @($"utm_medium = {Model.details.Utm_Camp}")
                    <br>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td class="first-col">
                    Flagi
                </td>
                <td>
                    <span class="mr-2 w-[100px] inline-block py-2">środki:</span> <span class="label-flag" flag-state="@Model.details.CampaningFlags.Budget"></span>
                    <br>
                    <span class="mr-2  w-[100px] inline-block py-2">produkty:</span> <span class="label-flag" flag-state="@Model.details.CampaningFlags.Products"></span>
                    <br>
                    <span class="mr-2 w-[100px] inline-block py-2">listy:</span> <span class="label-flag" flag-state="@Model.details.CampaningFlags.Lists"></span>
                    <br>
                    <span class="mr-2 w-[100px] inline-block py-2">reklama:</span> <span class="label-flag" flag-state="@Model.details.CampaningFlags.Advert"></span>
                    <br>
                    <span class="mr-2 w-[100px] inline-block py-2">wyświetlenia:</span> <span class="label-flag" flag-state="@Model.details.CampaningFlags.Display"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</section>
@if(Model?.advertisementsList != null)
{
<section class="py-1 bg-blueGray-50 table-campaning">
    <div class="w-full  mb-12 xl:mb-0 px-4 mx-auto">
        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded ">
            <div class="rounded-t mb-0 px-4 py-3 border-0">
                <div class="flex flex-wrap items-center">
                    <div class="relative w-full px-4 py-4 max-w-full flex-grow flex-1">
                        <h1 class="font-semibold text-xl text-blueGray-700">Twoje reklamy:</h1>
                    </div>
                    <div class="pull-right">
                        <a href="/campaign/group/edit-advertisements/@Model.id" class="btn btn-flat success"><i class="icon-edit"></i> Edytuj</a>
                    </div>
                </div>
            </div>
                <div class="block w-full overflow-x-auto">
                    <table class="items-center bg-transparent w-full border-collapse  mb-3">
                        <thead>
                            <tr>
                                <th class="px-4 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-center">
                                    Reklama
                                </th>
                                <th class="px-4 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-center">
                                    Formaty
                                </th>
                                <th class="px-4 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-center">
                                    Status
                                </th>
                                <th class="px-4 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-center">
                                    Operacje
                                </th>
                            </tr>
                        </thead>
                        <tbody class="text-center align-middle">
                            @foreach (var ad in Model.advertisementsList)
                            {
                                <tr class="align-middle my-2">
                                    <td class="align-middle">@ad.Name</td>
                                    <td class="align-middle py-2">
                                        @foreach (var format in ad.Formats)
                                        {
                                            @format.Size
                                            <br>
                                        }
                                    </td>
                                    <td class="align-middle">
                                        <button class="btn-flat @(ad.IsActive ? "success" : "danger")">@(ad.IsActive ? "Włączona" : "Wyłączona")</button>
                                    </td>
                                    <td class="align-middle">
                                        <div class="d-flex items-center justify-center">
                                            <form asp-action="Detach" asp-controller="Advert" asp-route-id="@ad.Id" asp-route-id_group="@Model.id" asp-route-returnUrl="@currUrl">
                                                <button type="submit" class="btn btn-flat white d-flex items-center"><i class="icon-search mr-2"></i> Usuń powiązanie</button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
}
@if (Model.Lists?.Count() > 0)
{
<section class="py-1 bg-blueGray-50 table-campaning">
    <div class="w-full  mb-12 xl:mb-0 px-4 mx-auto">
        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded ">
            <div class="rounded-t mb-0 px-4 py-3 border-0">
                <div class="flex flex-wrap items-center">
                    <div class="relative w-full px-4 py-4 max-w-full flex-grow flex-1">
                        <h1 class="font-semibold text-xl text-blueGray-700">Twoje Listy:</h1>
                    </div>
                    <div class="pull-right">
                        <a href="/group/create" class="btn btn-flat success"><i class="icon-edit"></i> Edytuj</a>
                    </div>
                </div>
            </div    
                <div class="block w-full overflow-x-auto">
                    <table class="items-center bg-transparent w-full border-collapse">
                        <thead>
                            <tr>
                                <th class="px-4 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-center">
                                    Status
                                </th>
                                <th class="px-4 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-center">
                                    Nazwa
                                </th>
                                <th class="px-4 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-center">
                                    @Model.details.Billing.GetStringValue()
                                </th>
                                <th class="px-4 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-center">
                                    CAP.
                                </th>
                                <th class="px-4 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-center">
                                    OD (przedział)
                                </th>
                                <th class="px-4 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-center">
                                    DO (przedział)
                                </th>
                            </tr>
                        </thead>
                            <tbody class="text-center align-middle">
                        
                                    @foreach (var li in Model.Lists)
                                    {
                                        <tr class="align-middle">
                                            <td class="align-middle py-2">
                                                <span class="btn-flat @(li.Status == ListStatus.IN ? "success" : "danger")">@li.Status.GetStringValue()</span>
                                            </td>
                                            <td class="align-middle py-2">@li.Name</td>
                                            <td class="align-middle">@li.BidRate</td>
                                            <td class="align-middle">@li.Cappping</td>
                                            <td class="align-middle">@li.start</td>
                                            <td class="align-middle">@li.end</td>
                                        </tr>
                                    }
                        
                            </tbody>
                    
                    </table>
                </div>
            </div>
    </div>
</section>
}


